{{ 'section-header.css' | asset_url | stylesheet_tag }}

<script src="{{ 'section-header.js' | asset_url }}" defer></script>

<menu-navigation>
  <div class="s-header">
    <div class="s-header__logo-container">
      <a class="s-header__logo-link" href="/">
        {% if section.settings.logo %}
          {% render 'image',
            image: section.settings.logo,
            max_width: 135,
            max_height: 17,
            preload: true,
            ratio_wrap: false
          %}
        {% endif %}
      </a>
    </div>

    <div class="s-header__content">
      <nav class="s-header__nav--desktop">
        <ul class="s-header__nav-list">
          {% for link in section.settings.menu.links -%}
            <li class="s-header__nav-item">
              {{ link.title | link_to: link.url }}
            </li>
          {%- endfor %}
        </ul>
      </nav>

      <div class="s-header__icons">
        <button class="s-header__icons-btn">
          <div class="s-header__icon">
            {% render 'icon-search' %}
          </div>
        </button>

        <button class="s-header__icons-btn">
          <div class="s-header__icon s-header__icon--account">
            {% render 'icon-account' %}
          </div>
        </button>

        <button class="s-header__icons-btn">
          <div class="s-header__icon">
            <a href="{{ routes.cart_url }}">
              {% render 'icon-cart' %}
            </a>
          </div>
        </button>

        <button class="s-header__icons-btn">
          <div class="s-header__icon s-header__icon--burger js-header__menu-button--open">
            {% render 'icon-burger-menu' %}
          </div>
        </button>
      </div>
    </div>

    <div class="s-header__menu js-header__menu">
      <div class="s-header__menu-top">
        <div class="s-header__logo-container">
          <a class="s-header__logo-link" href="/">
            {% if section.settings.logo %}
              {% render 'image',
                image: section.settings.logo,
                max_width: 122,
                max_height: 15,
                preload: true,
                ratio_wrap: false
              %}
            {% endif %}
          </a>
        </div>

        <div class="s-header__icon js-header__menu-button--close">
          {% render 'icon-close' %}
        </div>
      </div>

      {% comment %}
        зробити компонент обгортку для категорій з превент дефолтом або прибрати лінки поки що хз, додати стилі, мейбі
        запитати як краще рендерити контент кожної категорії на клік. Клікабельна зона в усю ширину плюс шеврон
      {% endcomment %}

      <nav class="s-header__menu-content">
        {% for link in section.settings.menu.links -%}
          {%- if link.links != blank -%}
            <ul class="s-header__menu-list">
              {%- for child_link in link.links -%}
                <li class="s-header__menu-item">
                  <a
                    class="s-header__menu-link"
                    href="{{ child_link.url }}"
                    {% if child_link.active %}
                      aria-current="page"
                    {% endif %}
                  >
                    {{ child_link.title }}

                    {% unless forloop.first %}
                      {% render 'icon-chevron' %}
                    {% endunless %}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        {%- endfor %}
      </nav>

      <div class="s-header__menu-bottom">
        <ul class="s-header__menu-list s-header__menu-list--bottom">
          <li class="s-header__menu-item">
            <a
              class="s-header__menu-link"
              href="#"
            >
              Sign In / Register
            </a>
          </li>

          <li class="s-header__menu-item">
            <a
              class="s-header__menu-link"
              href="#"
            >
              Customer Service
            </a>
          </li>

          <li class="s-header__menu-item">
            <a
              class="s-header__menu-link"
              href="#"
            >
              United Kingdom
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</menu-navigation>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Header settings"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Company logo",
      "info": "Recommended size: x108"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
