{{ 'section-header.css' | asset_url | stylesheet_tag }}

<script src="{{ 'section-header.js' | asset_url }}" defer></script>

<menu-navigation>
  <div class="s-header">
    <div class="s-header__logo-container">
      <a class="s-header__logo-link" href="/">
        {% if section.settings.logo %}
          {% render 'image',
            image: section.settings.logo,
            max_width: 135,
            max_height: 17,
            preload: true,
            ratio_wrap: false
          %}
        {% endif %}
      </a>
    </div>

    <div class="s-header__content">
      <nav class="s-header__nav--desktop">
        <ul class="s-header__nav-list">
          {% for link in section.settings.menu.links -%}
            <li class="s-header__nav-item">
              {{ link.title | link_to: link.url }}
            </li>
          {%- endfor %}
        </ul>
      </nav>

      <div class="s-header__icons">
        <button class="s-header__icons-btn">
          <div class="s-header__icon">
            {% render 'icon-search' %}
          </div>
        </button>

        <button class="s-header__icons-btn">
          <div class="s-header__icon s-header__icon--account">
            {% render 'icon-account' %}
          </div>
        </button>

        <button class="s-header__icons-btn">
          <div class="s-header__icon">
            <a href="{{ routes.cart_url }}">
              {% render 'icon-cart' %}
            </a>
          </div>
        </button>

        <button class="s-header__icons-btn">
          <div class="s-header__icon s-header__icon--burger js-header__menu-button--open">
            {% render 'icon-burger-menu' %}
          </div>
        </button>
      </div>
    </div>

    <div class="s-header__menu js-header__menu">
      <div class="s-header__menu-top">
        <div class="s-header__logo-container">
          <a class="s-header__logo-link" href="/">
            {% if section.settings.logo %}
              {% render 'image',
                image: section.settings.logo,
                max_width: 122,
                max_height: 15,
                preload: true,
                ratio_wrap: false
              %}
            {% endif %}
          </a>
        </div>

        <div class="s-header__icon js-header__menu-button--close">
          {% render 'icon-close' %}
        </div>
      </div>

      <nav class="s-header__menu-content">
        {% for link in section.settings.menu.links -%}
          {%- if link.links != blank -%}
            <ul class="s-header__menu-list">
              {%- for child_link in link.links -%}
                <expanded-menu>
                  <li class="s-header__menu-item">
                    <span class=" s-header__menu-link js-expanded-menu__btn--open">
                      {% comment %}
                        <a
                          class="s-header__menu-link js-expanded-menu__btn--open"
                          href="{{ child_link.url }}"
                        >
                      {% endcomment %}
                      {{ child_link.title }}

                      {% unless forloop.first %}
                        {% render 'icon-chevron' %}
                      {% endunless %}
                      {% comment %} </a> {% endcomment %}
                    </span>

                    <div class="s-header__menu-item--expanded-menu expanded-menu js-expanded-menu">
                      <div class="expanded-menu__top">
                        <button class="expanded-menu__btn expanded-menu__btn--back js-expanded-menu__btn--back">
                          {% render 'icon-chevron' %}
                        </button>

                        <h4 class="expanded-menu__title">
                          {% unless forloop.first %}
                            All
                          {% endunless %}
                          {{ child_link.title }}
                        </h4>

                        <button class="expanded-menu__btn expanded-menu__btn--close js-expanded-menu__btn--close">
                          {% render 'icon-close' %}
                        </button>
                      </div>

                      <ul class="expanded-menu__list">
                        {%- for grandchild_link in child_link.links -%}
                          <li class="expanded-menu__item">
                            <a class="expanded-menu__link" href="{{ grandchild_link.url }}">
                              <span>
                                {{ grandchild_link.title }}
                              </span>
                            </a>
                          </li>
                        {%- endfor -%}

                        <li></li>
                      </ul>
                    </div>
                  </li>
                </expanded-menu>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        {%- endfor %}

        <ul class="s-header__menu-list s-header__menu-list--bottom">
          <li class="s-header__menu-item">
            <a
              class="s-header__menu-link"
              href="#"
            >
              Sign In / Register
            </a>
          </li>

          <li class="s-header__menu-item">
            <a
              class="s-header__menu-link"
              href="#"
            >
              Customer Service
            </a>
          </li>

          <li class="s-header__menu-item">
            <a
              class="s-header__menu-link s-header__menu-link--currency"
              href="#"
            >
              United Kingdom (£)
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</menu-navigation>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Header settings"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Company logo",
      "info": "Recommended size: x108"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
