{{ 'section-header.css' | asset_url | stylesheet_tag }}
{{ 'component-menu-list.css' | asset_url | stylesheet_tag }}

<script src="{{ 'section-header.js' | asset_url }}" defer></script>
<script src="{{ 'component-localization-form.js' | asset_url }}" defer></script>

<menu-navigation-mobile>
  <menu-navigation>
    <div class="s-header">
      <div class="s-header__logo-container">
        <a class="s-header__logo-link" href="/">
          {% if section.settings.logo %}
            {% if localization.language.iso_code == 'ar' %}
              {% render 'image',
                image: section.settings.logo_ar,
                max_width: 135,
                max_height: 17,
                preload: true,
                ratio_wrap: false
              %}
            {% else %}
              {% render 'image',
                image: section.settings.logo,
                max_width: 135,
                max_height: 17,
                preload: true,
                ratio_wrap: false
              %}
            {% endif %}
          {% endif %}
        </a>
      </div>

      <div class="s-header__content">
        <nav class="s-header__nav s-header__nav--desktop {% if localization.language.iso_code == 'ar' %}s-header__nav--desktop--rtl{% endif %} ">
          <div class="s-header__nav-bgd js-menu-desktop--bgd"></div>
          <ul class="s-header__nav-list">
            {% for link in section.settings.menu.links -%}
              {% if forloop.first %}
                <li class="s-header__nav-item js-menu-desktop--open">
                  {{ link.title }}
                </li>
              {% else %}
                <li class="s-header__nav-item">
                  {{ link.title | link_to: link.url }}
                </li>
              {% endif %}
            {%- endfor %}
          </ul>
        </nav>

        <div class="s-header__icons">
          {% liquid
            assign isLanguage = section.settings.show_language_selector
            assign isCurrency = section.settings.show_currency_selector
          %}

          {% if isLanguage or isCurrency %}
            <div class="s-header__localization">
              {% if localization.available_languages.size > 1 %}
                <localization-select-form>
                  {% form 'localization' %}
                    <div class="s-header__localization-wrapper">
                      {% if section.settings.show_language_selector %}
                        <select
                          name="language_code"
                          id="languageSelect"
                          class="s-header__localization-select js-localization__select"
                        >
                          <option
                            value="{{ localization.language.iso_code }}"
                            selected
                          >
                            {{ localization.language.endonym_name | capitalize }}
                          </option>

                          {% for language in localization.available_languages %}
                            {% if language.iso_code != localization.language.iso_code %}
                              <option
                                value="{{ language.iso_code }}"
                                lang="{{ language.iso_code }}"
                                data-value="{{ language.iso_code }}"
                                {%- if language.iso_code == localization.country.iso_code %}
                                  selected
                                {% endif %}
                              >
                                {{ language.endonym_name | capitalize }}
                              </option>
                            {% endif %}
                          {%- endfor -%}
                        </select>
                      {% endif %}

                      {% if section.settings.show_currency_selector %}
                        <select
                          name="currency_code"
                          id="currencySelect"
                          class="s-header__localization-select js-currency__select"
                        >
                          <option
                            value="{{ localization.country.currency.iso_code }}"
                            selected
                          >
                            {{ localization.country.currency.iso_code }}
                            {{ localization.country.currency.symbol }}
                          </option>

                          {%- for country in localization.available_countries -%}
                            {% if country.currency.iso_code != localization.country.currency.iso_code %}
                              <option
                                value="{{ country.currency.iso_code }}"
                              >
                                {{ country.currency.iso_code }}
                                ({{ country.currency.symbol }})
                              </option>
                            {% endif %}
                          {%- endfor -%}
                        </select>
                      {% endif %}

                      <input
                        class="js-localization__input--lang"
                        type="hidden"
                        name="language_code"
                        value="{{ localization.language.iso_code }}"
                      >
                      <input
                        class="js-localization__input--currency"
                        type="hidden"
                        name="currency_code"
                        value="{{ localization.country.currency.iso_code }}"
                      >
                    </div>
                  {% endform %}
                </localization-select-form>
              {% endif %}
            </div>
          {% endif %}
          <button class="s-header__icons-btn">
            <div class="s-header__icon">
              {% render 'icon-search' %}
            </div>
          </button>

          <button class="s-header__icons-btn">
            <div class="s-header__icon s-header__icon--account">
              {% render 'icon-account' %}
            </div>
          </button>

          <button class="s-header__icons-btn">
            <div class="s-header__icon">
              <a href="{{ routes.cart_url }}">
                {% render 'icon-cart' %}
              </a>
            </div>
          </button>

          <button class="s-header__icons-btn">
            <div class="s-header__icon s-header__icon--burger js-header__menu-button--open">
              {% render 'icon-burger-menu' %}
            </div>
          </button>
        </div>
      </div>

      <div class="s-header__menu s-header__menu--mobile js-header__menu">
        <div class="s-header__menu-top">
          <div class="s-header__logo-container">
            <a class="s-header__logo-link" href="/">
              {% if section.settings.logo %}
                {% render 'image',
                  image: section.settings.logo,
                  max_width: 122,
                  max_height: 15,
                  preload: true,
                  ratio_wrap: false
                %}
              {% endif %}
            </a>
          </div>

          <div class="s-header__icon s-header__icon--close js-header__menu-button--close">
            {% render 'icon-close' %}
          </div>
        </div>

        <nav class="s-header__menu-content">
          {% for link in section.settings.menu.links -%}
            {%- if link.links != blank -%}
              <ul class="s-header__menu-list">
                {%- for child_link in link.links -%}
                  <li class="s-header__menu-item">
                    {% if forloop.first %}
                      <a
                        class="s-header__menu-link"
                        href="{{ child_link.url }}"
                      >
                        {{ child_link.title }}
                      </a>
                    {% else %}
                      {% comment %} оце наш актів менью для телефона {% endcomment %}
                      <span class=" s-header__menu-link s-header__menu-link js-expanded-menu__btn--open">
                        {{ child_link.title }}

                        <span class="s-header__menu-link--chevron {% if localization.language.iso_code == 'ar' %}s-header__menu-link--chevron--rtl{% endif %}">
                          {% render 'icon-chevron' %}
                        </span>
                      </span>
                    {% endif %}

                    <div class="s-header__menu-item--expanded-menu expanded-menu js-expanded-menu">
                      <div class="expanded-menu__top">
                        <button class="expanded-menu__btn expanded-menu__btn--back js-expanded-menu__btn--back">
                          {% render 'icon-chevron' %}
                        </button>

                        <h4 class="expanded-menu__title">
                          {% unless forloop.first %}
                            All
                          {% endunless %}
                          {{ child_link.title }}
                        </h4>

                        <button class="expanded-menu__btn expanded-menu__btn--close js-expanded-menu__btn--close">
                          {% render 'icon-close' %}
                        </button>
                      </div>

                      <ul class="expanded-menu__list">
                        {%- for grandchild_link in child_link.links -%}
                          <li class="expanded-menu__item">
                            <a class="expanded-menu__link" href="{{ grandchild_link.url }}">
                              <span>
                                {{ grandchild_link.title }}
                              </span>
                            </a>
                          </li>
                        {%- endfor -%}

                        <li class="expanded-menu__promo">
                          {% for block in section.blocks %}
                            {% case block.type %}
                              {% when 'promo_block' %}
                                {% if localization.language.iso_code == 'ar' %}
                                  {% if block.settings.categody_title_ar == child_link.title %}
                                    <div class="expanded-menu__promo-item">
                                      <a
                                        class="expanded-menu__promo-item--link"
                                        href="{{ block.settings.promo_link_ar }}"
                                        alt="{{ block.settings.promo_text_ar | escape }}"
                                      >
                                        {%
                                          render 'image-lazy',
                                          image: block.settings.promo_img_ar,
                                          max_width: 360,
                                          max_height: 360,
                                        %}
                                      </a>

                                      <div class="expanded-menu__promo-item--bottom">
                                        <p class="expanded-menu__promo-item--text">
                                          {{ block.settings.promo_text_ar }}
                                        </p>
                                        <a class="expanded-menu__promo-item--shop" href="#">
                                          {{- 'sections.header.promo_shop' | t -}}
                                        </a>
                                      </div>
                                    </div>
                                  {% endif %}
                                {% else %}
                                  {% if block.settings.categody_title == child_link.title %}
                                    <div class="expanded-menu__promo-item">
                                      <a
                                        class="expanded-menu__promo-item--link"
                                        href="{{ block.settings.promo_link }}"
                                        alt="{{ block.settings.promo_text | escape }}"
                                      >
                                        {%
                                          render 'image-lazy',
                                          image: block.settings.promo_img,
                                          max_width: 360,
                                          max_height: 360,
                                        %}
                                      </a>

                                      <div class="expanded-menu__promo-item--bottom">
                                        <p class="expanded-menu__promo-item--text">
                                          {{ block.settings.promo_text }}
                                        </p>
                                        <a class="expanded-menu__promo-item--shop" href="#">
                                          {{- 'sections.header.promo_shop' | t -}}
                                        </a>
                                      </div>
                                    </div>
                                  {% endif %}
                                {% endif %}

                              {% when 'promo_block_double' %}
                                {% if localization.language.iso_code == 'ar' %}
                                  {% if block.settings.categody_title_ar == child_link.title %}
                                    <div class="expanded-menu__promo-items">
                                      <div class="expanded-menu__promo-item">
                                        <a
                                          class="expanded-menu__promo-item--link"
                                          href="{{ block.settings.promo_link_one_ar }}"
                                          alt="{{ block.settings.promo_text_one_ar | escape }}"
                                        >
                                          {%
                                            render 'image-lazy',
                                            image: block.settings.promo_img_one_ar,
                                            max_width: 360,
                                            max_height: 360,
                                          %}
                                        </a>

                                        <div class="expanded-menu__promo-item--bottom">
                                          <p class="expanded-menu__promo-item--text">
                                            {{ block.settings.promo_text_one_ar }}
                                          </p>
                                          <a class="expanded-menu__promo-item--shop" href="#">
                                            {{- 'sections.header.promo_shop' | t -}}
                                          </a>
                                        </div>
                                      </div>

                                      <div class="expanded-menu__promo-item">
                                        <a
                                          class="expanded-menu__promo-item--link"
                                          href="{{ block.settings.promo_link_two_ar }}"
                                          alt="{{ block.settings.promo_text_two_ar | escape }}"
                                        >
                                          {%
                                            render 'image-lazy',
                                            image: block.settings.promo_img_two_ar,
                                            max_width: 360,
                                            max_height: 360,
                                          %}
                                        </a>

                                        <div class="expanded-menu__promo-item--bottom">
                                          <p class="expanded-menu__promo-item--text">
                                            {{ block.settings.promo_text_two_ar }}
                                          </p>
                                          <a class="expanded-menu__promo-item--shop" href="#">
                                            {{- 'sections.header.promo_shop' | t -}}
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  {% endif %}
                                {% else %}
                                  {% if block.settings.categody_title == child_link.title %}
                                    <div class="expanded-menu__promo-items">
                                      <div class="expanded-menu__promo-item">
                                        <a
                                          class="expanded-menu__promo-item--link"
                                          href="{{ block.settings.promo_link_one }}"
                                          alt="{{ block.settings.promo_text_one | escape }}"
                                        >
                                          {%
                                            render 'image-lazy',
                                            image: block.settings.promo_img_one,
                                            max_width: 360,
                                            max_height: 360,
                                          %}
                                        </a>

                                        <div class="expanded-menu__promo-item--bottom">
                                          <p class="expanded-menu__promo-item--text">
                                            {{ block.settings.promo_text_one }}
                                          </p>
                                          <a class="expanded-menu__promo-item--shop" href="#">
                                            {{- 'sections.header.promo_shop' | t -}}
                                          </a>
                                        </div>
                                      </div>

                                      <div class="expanded-menu__promo-item">
                                        <a
                                          class="expanded-menu__promo-item--link"
                                          href="{{ block.settings.promo_link_two }}"
                                          alt="{{ block.settings.promo_text_two | escape }}"
                                        >
                                          {%
                                            render 'image-lazy',
                                            image: block.settings.promo_img_two,
                                            max_width: 360,
                                            max_height: 360,
                                          %}
                                        </a>

                                        <div class="expanded-menu__promo-item--bottom">
                                          <p class="expanded-menu__promo-item--text">
                                            {{ block.settings.promo_text_two }}
                                          </p>
                                          <a class="expanded-menu__promo-item--shop" href="#">
                                            {{- 'sections.header.promo_shop' | t -}}
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  {% endif %}
                                {% endif %}
                            {% endcase %}
                          {% endfor %}
                        </li>
                      </ul>
                    </div>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          {%- endfor %}

          {% render 'menu-list' %}
        </nav>
      </div>

      <div class="s-header__menu-desktop menu-desktop {% if localization.language.iso_code == 'ar' %}menu-desktop--rtl{% endif %} js-menu-desktop">
        <div
          class="
            menu-desktop__content
            {% if localization.language.iso_code == 'ar' %}menu-desktop__content--rtl{% endif %}
          "
        >
          <button class="menu-desktop__close-btn js-menu-desktop--close">
            {% render 'icon-close' %}
          </button>

          <nav class="menu-desktop__nav">
            {% for link in section.settings.menu.links -%}
              {%- if link.links != blank -%}
                <ul class="menu-desktop__list">
                  {%- for child_link in link.links -%}
                    <li class="menu-desktop__item">
                      {% if forloop.first %}
                        <a
                          class="menu-desktop__link"
                          href="{{ child_link.url }}"
                        >
                          {{ child_link.title }}
                        </a>

                      {% else %}
                        <span
                          class="menu-desktop__link js-menu-desktop-expanded--open"
                        >
                          {{ child_link.title }}
                        </span>
                      {% endif %}

                      <div class="menu-desktop-expanded {% if localization.language.iso_code == 'ar' %}menu-desktop-expanded--rtl{% endif %} js-menu-desktop-expanded">
                        <ul class="menu-desktop-expanded__list">
                          {%- for grandchild_link in child_link.links -%}
                            <li class="menu-desktop-expanded__item">
                              <a class="menu-desktop-expanded__link" href="{{ grandchild_link.url }}">
                                <span>
                                  {{ grandchild_link.title }}
                                </span>
                              </a>
                            </li>
                          {%- endfor -%}

                          <li class="expanded-menu__promo">
                            {% for block in section.blocks %}
                              {% case block.type %}
                                {% when 'promo_block' %}
                                  {% if block.settings.categody_title == child_link.title %}
                                    <div class="expanded-menu__promo-item">
                                      <a
                                        class="expanded-menu__promo-item--link"
                                        href="{{ block.settings.promo_link }}"
                                        alt="{{ block.settings.promo_text | escape }}"
                                      >
                                        {%
                                          render 'image-lazy',
                                          image: block.settings.promo_img_desk,
                                          max_width: 360,
                                          max_height: 360,
                                        %}
                                      </a>

                                      <div class="expanded-menu__promo-item--bottom">
                                        <p class="expanded-menu__promo-item--text">
                                          {{ block.settings.promo_text }}
                                        </p>
                                        <a class="expanded-menu__promo-item--shop" href="#">
                                          {{- 'sections.header.promo_shop' | t -}}
                                        </a>
                                      </div>
                                    </div>
                                  {% endif %}

                                {% when 'promo_block_double' %}
                                  {% if block.settings.categody_title == child_link.title %}
                                    <div class="expanded-menu__promo-items">
                                      <div class="expanded-menu__promo-item">
                                        <a
                                          class="expanded-menu__promo-item--link"
                                          href="{{ block.settings.promo_link_one }}"
                                          alt="{{ block.settings.promo_text_one | escape }}"
                                        >
                                          {%
                                            render 'image-lazy',
                                            image: block.settings.promo_img_desk_one,
                                            max_width: 360,
                                            max_height: 360,
                                          %}
                                        </a>

                                        <div class="expanded-menu__promo-item--bottom">
                                          <p class="expanded-menu__promo-item--text">
                                            {{ block.settings.promo_text_one }}
                                          </p>
                                          <a class="expanded-menu__promo-item--shop" href="#">
                                            {{- 'sections.header.promo_shop' | t -}}
                                          </a>
                                        </div>
                                      </div>

                                      <div class="expanded-menu__promo-item">
                                        <a
                                          class="expanded-menu__promo-item--link"
                                          href="{{ block.settings.promo_link_two }}"
                                          alt="{{ block.settings.promo_text_two | escape }}"
                                        >
                                          {%
                                            render 'image-lazy',
                                            image: block.settings.promo_img_desk_two,
                                            max_width: 360,
                                            max_height: 360,
                                          %}
                                        </a>

                                        <div class="expanded-menu__promo-item--bottom">
                                          <p class="expanded-menu__promo-item--text">
                                            {{ block.settings.promo_text_two }}
                                          </p>
                                          <a class="expanded-menu__promo-item--shop" href="#">
                                            {{- 'sections.header.promo_shop' | t -}}
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  {% endif %}
                              {% endcase %}
                            {% endfor %}
                          </li>
                        </ul>
                      </div>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            {%- endfor %}

            {% render 'menu-list' %}
          </nav>
        </div>
      </div>
    </div>
  </menu-navigation>
</menu-navigation-mobile>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Header settings"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Company logo",
      "info": "Recommended size: x108"
    },
    {
      "type": "image_picker",
      "id": "logo_ar",
      "label": "Company logo (AR)",
      "info": "Recommended size: x108"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "default": true,
      "label": "Currency Selector"
    },
    {
      "type": "checkbox",
      "id": "show_language_selector",
      "default": true,
      "label": "Language Selector"
    }
  ],
  "blocks": [
    {
      "name": "Promo product",
      "type": "promo_block",
      "settings": [
        {
          "type": "text",
          "id": "categody_title",
          "label": "Category title",
          "info": "In which category in the menu this promo block should be present"
        },
        {
          "type": "text",
          "id": "categody_title_ar",
          "label": "Category title (AR)"
        },
        {
          "type": "image_picker",
          "id": "promo_img",
          "label": "Promo Image mobile"
        },
        {
          "type": "image_picker",
          "id": "promo_img_ar",
          "label": "Promo Image mobile (AR)"
        },
        {
          "type": "image_picker",
          "id": "promo_img_desk",
          "label": "Promo Image desktop",
          "info": "1000 x 1200"
        },
        {
          "type": "image_picker",
          "id": "promo_img_desk_ar",
          "label": "Promo Image desktop (AR)",
          "info": "1000 x 1200"
        },
        {
          "type": "url",
          "id": "promo_link",
          "label": "Promo Link"
        },
        {
          "type": "url",
          "id": "promo_link_ar",
          "label": "Promo Link (AR)"
        },
        {
          "type": "text",
          "id": "promo_text",
          "label": "Text for the promo block"
        },
        {
          "type": "text",
          "id": "promo_text_ar",
          "label": "Text for the promo block (AR)"
        }
      ]
    },
    {
      "name": "Double promo product",
      "type": "promo_block_double",
      "settings": [
        {
          "type": "text",
          "id": "categody_title",
          "label": "Category title",
          "info": "In which category in the menu those promo blocks should be present"
        },
        {
          "type": "text",
          "id": "categody_title_ar",
          "label": "Category title (AR)"
        },
        {
          "type": "header",
          "content": "First product"
        },
        {
          "type": "image_picker",
          "id": "promo_img_one",
          "label": "Promo Image"
        },
        {
          "type": "image_picker",
          "id": "promo_img_one_ar",
          "label": "Promo Image (AR)"
        },
        {
          "type": "image_picker",
          "id": "promo_img_desk_one",
          "label": "Promo Image desktop",
          "info": "1000 x 600"
        },
        {
          "type": "image_picker",
          "id": "promo_img_desk_one_ar",
          "label": "Promo Image desktop (AR)",
          "info": "1000 x 600"
        },
        {
          "type": "url",
          "id": "promo_link_one",
          "label": "Promo Link"
        },
        {
          "type": "url",
          "id": "promo_link_one_ar",
          "label": "Promo Link (AR)"
        },
        {
          "type": "text",
          "id": "promo_text_one",
          "label": "Text for the promo block"
        },
        {
          "type": "text",
          "id": "promo_text_one_ar",
          "label": "Text for the promo block (AR)"
        },
        {
          "type": "header",
          "content": "Second product"
        },
        {
          "type": "image_picker",
          "id": "promo_img_two",
          "label": "Promo Image"
        },
        {
          "type": "image_picker",
          "id": "promo_img_two_ar",
          "label": "Promo Image (AR)"
        },
        {
          "type": "image_picker",
          "id": "promo_img_desk_two",
          "label": "Promo Image desktop",
          "info": "1000 x 600"
        },
        {
          "type": "image_picker",
          "id": "promo_img_desk_two_ar",
          "label": "Promo Image desktop (AR)",
          "info": "1000 x 600"
        },
        {
          "type": "url",
          "id": "promo_link_two",
          "label": "Promo Link"
        },
        {
          "type": "url",
          "id": "promo_link_two_ar",
          "label": "Promo Link (AR)"
        },
        {
          "type": "text",
          "id": "promo_text_two",
          "label": "Text for the promo block"
        },
        {
          "type": "text",
          "id": "promo_text_two_ar",
          "label": "Text for the promo block (AR)"
        }
      ]
    }
  ]
}
{% endschema %}
